<div class="container">
  <div class="row">
    <div class="row mx-2 col-12 text-center my-4">
      <div class="row justify-content-between mb-3">
        <button
          class="button col-md-2 mb-3 mb-md-0"
          (click)="setFilter('all')"
          [ngClass]="{ 'active-filter': currentFilter === 'all' }"
        >
          Lista Completa
        </button>
        <button
          class="button col-md-2 mb-3 mb-md-0"
          (click)="setFilter('completed')"
          [ngClass]="{ 'active-filter': currentFilter === 'completed' }"
        >
          Completati
        </button>
        <button
          class="button  col-md-2 mb-3 mb-md-0"
          (click)="setFilter('incomplete')"
          [ngClass]="{ 'active-filter': currentFilter === 'incomplete' }"
        >
          Da Completare
        </button>
        <button
          *ngIf="showNewOrdersButton"
          class="button col-md-2 "
          (click)="setFilter('new')"
          [ngClass]="{ 'active-filter': currentFilter === 'new' }"
        >
          Nuovi Ordini
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let order of filteredOrders$ | async">
      <div class="card mb-3">
        <div class="card-header row justify-content-between mx-0">
          <div class="col-6">
            Ordine #{{ order.id }}
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button
              *ngIf="
                isAdmin && order.checked == true && order.completed == true
              "
              class="btn btn-danger rounded-circle btn-sm"
              (click)="deleteOrder(order.id!)"
            >
              <i class="bi bi-trash3"></i>
            </button>
            <i *ngIf="!order.checked" class="bi bi-bell"></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Cliente: {{ order.client.username }}</h5>
          <p class="card-text">
            Data ordine: {{ order.localDate | date : "d/MM/yyyy" }}
          </p>
          <div class="row justify-content-end">
            <button
              class="button col-6"
              (click)="viewOrderDetails(order.id!, order.checked)"
            >
              Dettagli ordine
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
