<div class="container">
  <div class="row justify-content-center px-4">
    <div class="row justify-content-center my-4">
      <div class="col-6">
        <input
          type="text"
          class="form-control"
          placeholder="Cerca tra gli utenti"
          (input)="updateSearchQuery($event)"
        />
      </div>
    </div>
    <div class="row" *ngIf="searchQuery.length > 0">
      <ng-container *ngIf="results.length > 0; else noResultsFound">
        <div class="col-12  col-md-6 col-lg-4 mb-4" *ngFor="let user of results">
          <div
            class="user-card border border-secondary rounded p-3 d-flex align-items-center"
          >
          <div
          class="user-icon-container position-relative me-3 d-flex align-items-center justify-content-center"
          [ngClass]="{ 'pending-order': hasPendingOrders(user) }"
          *ngIf="hasPendingOrders(user)"
          ngbTooltip="L'utente ha più di 3 ordini da saldare."
          placement="right"
          container="body"
        >
          <i *ngIf="hasRole(user, 'COMPANY')" class="bi bi-shop fs-1"></i>
          <i *ngIf="hasRole(user, 'PRIVATE')" class="bi bi-person-circle fs-1"></i>
        </div>
        <div
          class="user-icon-container position-relative me-3 d-flex align-items-center justify-content-center"
          [ngClass]="{ 'pending-order': hasPendingOrders(user) }"
          *ngIf="!hasPendingOrders(user)"
        >
          <i *ngIf="hasRole(user, 'COMPANY')" class="bi bi-shop fs-1"></i>
          <i *ngIf="hasRole(user, 'PRIVATE')" class="bi bi-person-circle fs-1"></i>
        </div>

            <div class="flex-grow-1">
              <p class="mb-0">ID:{{ user.id }}</p>
              <p class="mb-0" *ngIf="hasRole(user, 'COMPANY')">
                {{ user.companyName }}
              </p>
              <p class="mb-0" *ngIf="hasRole(user, 'PRIVATE')">
                {{ user.username }}
              </p>
            </div>
            <div>
              <button
                type="button"
                class="button"
                [routerLink]="['/user-details', user.id]"
              >
                <i class="bi bi-arrow-right-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noResultsFound>
        <h2>Nessun risultato trovato</h2>
      </ng-template>
    </div>
    <div
      class="row justify-content-center"
      *ngIf="searchQuery.length === 0 && userList.length > 0"
    >
      <h2 class="mb-5 text-white fs-2 text-center">I nostri utenti:</h2>
      <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let user of userList">
        <div
          class="user-card border border-secondary rounded p-3 d-flex align-items-center"
        >
        <div
        class="user-icon-container position-relative me-3 d-flex align-items-center justify-content-center"
        [ngClass]="{ 'pending-order': hasPendingOrders(user) }"
        *ngIf="hasPendingOrders(user)"
        ngbTooltip="L'utente ha più di 3 ordini da saldare."
        placement="right"
        container="body"
      >
        <i *ngIf="hasRole(user, 'COMPANY')" class="bi bi-shop fs-1"></i>
        <i *ngIf="hasRole(user, 'PRIVATE')" class="bi bi-person-circle fs-1"></i>
      </div>
      <div
        class="user-icon-container position-relative me-3 d-flex align-items-center justify-content-center"
        [ngClass]="{ 'pending-order': hasPendingOrders(user) }"
        *ngIf="!hasPendingOrders(user)"
      >
        <i *ngIf="hasRole(user, 'COMPANY')" class="bi bi-shop fs-1"></i>
        <i *ngIf="hasRole(user, 'PRIVATE')" class="bi bi-person-circle fs-1"></i>
      </div>

          <div class="flex-grow-1">
            <p class="mb-0">ID:{{ user.id }}</p>
            <p class="mb-0" *ngIf="hasRole(user, 'COMPANY')">
              {{ user.companyName }}
            </p>
            <p class="mb-0" *ngIf="hasRole(user, 'PRIVATE')">
              {{ user.username }}
            </p>
          </div>
          <div>
            <button
              type="button"
              class="button"
              [routerLink]="['/user-details', user.id]"
            >
              <i class="bi bi-arrow-right-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
