.picsum-img-wrapper {
  width: 100%;
  max-width: 1200px; /* Imposta la larghezza massima desiderata */
  height: 600px; /* Imposta l'altezza fissa desiderata */
  overflow: hidden;
  margin: 0 auto; /* Centra il contenitore */
  position: relative;
}

.picsum-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene le proporzioni dell'immagine riempiendo il contenitore */
  object-position: center; /* Centra l'immagine */
}

.carousel {
  display: flex;
  justify-content: center; /* Centra il carosello */
}
