.blur-background {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
}

.central-column {
  padding-left: 1rem;
  padding-right: 1rem;
}

img{
  max-height: 600px;
object-fit: cover;
}

.warning{
  background-color: rgba(255, 0, 0, 0.5);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
}
@media (min-width: 300px) and (max-width: 576px) {
  .central-column {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .central-column {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 992px) {
  .central-column {
    max-width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1200px) {
  .central-column {
    max-width: 60%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  width: 28px;
  height: 16px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9ffc88;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9ffc88;
}

input:checked + .slider:before {
  transform: translateX(12px);
}

.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}


textarea::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-wrapper .cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.checkbox-wrapper .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #b9b8c3;
  transition: all 0.2s ease;
}

.checkbox-wrapper .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}

.checkbox-wrapper .cbx span:last-child {
  margin-left: 8px;
  position: relative;
}

.checkbox-wrapper .cbx span:last-child:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  background: rgb(255, 255, 255);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.checkbox-wrapper .cbx:hover span:first-child {
  border-color: #3c53c7;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child {
  border-color: #3c53c7;
  background: #3c53c7;
  animation: check-15 0.6s ease;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child {
  color: black;
  transition: all 0.3s ease;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.checkbox-wrapper .inp-cbx:not(:checked) + .cbx span:last-child:after {
  transform: scaleX(1);
}

.not-available {
  text-decoration: line-through;
  color: gray;
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}
